@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab|Titan+One|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab|Titan+One|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab|Titan+One|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab|Titan+One|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab|Titan+One|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab|Titan+One|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab|Titan+One|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab|Titan+One|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab|Titan+One|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab|Titan+One|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab|Titan+One|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab|Titan+One|Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab|Titan+One|Source+Code+Pro");
* { box-sizing: border-box; margin: 0 auto; }

body { margin: 0 auto; padding: 0; font-family: "Quicksand", "Montserrat", "Merriweather", "Arial", sans-serif; background-color: #2A424C; }

#contentBox { opacity: 0; transition: 1s all linear; }

.header { padding: 10px; text-align: center; font-size: 26px; font-weight: bold; }

.container { width: 100%; max-width: 1400px; margin: 0 auto; }

.content-box { border: 4px solid #3a4a5d; box-shadow: 0 0 30px black; margin: 0 30px; height: 85vh; border-radius: 5px; font-family: "Source Code Pro", "Roboto Slab", "Merriweather", "Arial", sans-serif; color: white; }

.content-container { background-image: url("/images/chess.jpeg"); background-position: center; background-repeat: no-repeat; background-size: cover; height: 100%; -webkit-filter: brightness(60%) contrast(90%); filter: brightness(60%) contrast(90%); }

#mySidenav { transition: 0.7s all linear; opacity: 0; }

.navigation-user-img { width: 100%; padding: 5px; opacity: 0.5; vertical-align: middle; }

.navigation-img-box { border: 5px solid #394A57; }

.navigation-img-container { border-bottom: 1px solid #22303e; }

.fab, .fas { color: white; transition: 0.3s all linear; }

.navigation-img-container { padding: 15px 5px; border-top: 1px solid #3a4a5d; }

.navigation-user-social { display: -ms-flexbox; display: flex; border-bottom: 1px solid #22303e; border-top: 1px solid #22303e; padding-left: 0; -ms-flex-pack: center; justify-content: center; }

.navigation-user-info { border-right: 1px solid #3a4a5d; }

.navigation-social-link, .close-nav-link { list-style-type: none; margin: 0; text-align: center; }

.close-nav-icon { text-align: center; color: white; }

.navigation-social-btn, .close-nav-btn { width: 40px; height: 40px; background-color: #2A424C; font-size: 16px; border-bottom: none; border-top: none; border-left: 1px solid #3a4a5d; border-right: 1px solid #22303e; padding-bottom: 0; }

.navigation-social-btn:hover, .close-nav-btn:hover { cursor: pointer; }

.navigation-social-btn a { padding: 7px 5px; }

.navigation-social-facebook { border-left: 1px solid #22303e; }

.navigation-social-github { border-right: 1px solid #3a4a5d; }

.menu { padding: 0; }

.menu-btn { font-size: 50px; color: #879599; padding-left: 30px; }

.menu-btn:hover { cursor: pointer; }

/* The side navigation menu */
.navigation { height: 100%; /* 100% Full-height */ width: 0; /* 0 width - change this with JavaScript */ position: fixed; /* Stay in place */ z-index: 1; /* Stay on top */ top: 0; /* Stay at the top */ left: 0; background-color: #2A424C; /* Black*/ overflow-x: hidden; /* Disable horizontal scroll */ transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */ box-shadow: 0 0 20px black; }

.menu-item { list-style-type: none; padding: 10px 0 10px 15px; vertical-align: middle; border-top: 1px solid #3a4a5d; border-bottom: 1px solid #22303e; border-right: 1px solid #3a4a5d; }

.menu-item a { padding: 2px 2px 2px 32px; text-decoration: none; font-size: 16px; color: #879599; display: block; transition: 0.3s; margin: auto; text-transform: uppercase; font-weight: 700; }

/* When you mouse over the navigation links, change their color */
.navigation a:hover { color: white; }

/* Position and style the close button (top right corner) */
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main { transition: margin-left 0.5s; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
.text-container { font-family: "Source Code Pro", "Roboto Slab", "Merriweather", "Arial", sans-serif; position: absolute; top: 100px; left: 100px; text-align: left; }

#typedText { font-size: 50px; }

/*! Devicons 1.8.0 made by Theodore Vorillas / http://vorillaz.com  */
@font-face { font-family: 'devicons'; src: url("../fonts/devicons.eot?xqxft6"); src: url("../fonts/devicons.eot?#iefixxqxft6") format("embedded-opentype"), url("../fonts/devicons.woff?xqxft6") format("woff"), url("../fonts/devicons.ttf?xqxft6") format("truetype"), url("../fonts/devicons.svg?xqxft6#devicons") format("svg"); font-weight: normal; font-style: normal; }

.devicons { font-family: 'devicons'; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.skills-container { padding: 20px; display: -ms-grid; display: grid; -ms-grid-columns: auto auto auto auto; grid-template-columns: auto auto auto auto; grid-gap: 35px 35px; height: 100%; }

.devicons-skills { font-size: 100px; transition: 0.3s all linear; margin: auto; border-radius: 5px; color: #879599; }

.devicons-skills:hover { transform: scale(1.1); background-color: rgba(0, 0, 0, 0.6); }

.html5-skills:hover { color: #FB4300; box-shadow: 0 0 20px #FB4300; }

.css3-skills:hover { color: #0095D0; box-shadow: 0 0 20px #0095D0; }

.responsive-skills:hover { color: #00A792; box-shadow: 0 0 20px #00A792; }

.javascript-skills:hover { color: #F8DA51; box-shadow: 0 0 20px #F8DA51; }

.jquery-skills:hover { color: #0069AA; box-shadow: 0 0 20px #0069AA; }

.sass-skills:hover { color: #DF5F95; box-shadow: 0 0 20px #DF5F95; }

.bootstrap-skills:hover { color: #5F4182; box-shadow: 0 0 20px #5F4182; }

.nodejs-skills:hover { color: #6ABE2A; box-shadow: 0 0 20px #6ABE2A; }

.react-skills:hover { color: #00DCFF; box-shadow: 0 0 20px #00DCFF; }

.git-skills:hover { color: #FF421A; box-shadow: 0 0 20px #FF421A; }

.npm-skills:hover { color: #E22B2C; box-shadow: 0 0 20px #E22B2C; }

.mongodb-skills:hover { color: #2CAB57; box-shadow: 0 0 20px #2CAB57; }

.github-skills:hover { color: white; box-shadow: 0 0 20px black; background-color: rgba(0, 0, 0, 0.6); }

.ghost-skills:hover { color: white; box-shadow: 0 0 20px white; }

.visualstudio-skills:hover { color: #007BCC; box-shadow: 0 0 20px #007BCC; }

.portfolio-container { display: -ms-grid; display: grid; -ms-grid-columns: auto auto auto; grid-template-columns: auto auto auto; gap: 30px; }

.portfolio-item { padding: 13vh 10vw; background-size: cover; background-repeat: no-repeat; border-radius: 5px; transition: 0.3s all linear; display: -ms-flexbox; display: flex; }

.portfolio-item:hover { transform: scale(1.05); box-shadow: 0 0 30px black; }

.devicons-portfolio { font-size: 35px; }

.portfolio-btn { background-color: transparent; border: none; }

.portfolio-link-icon { font-size: 26px; color: black; }

.portfolio-item-1 { background-image: url("/images/awax.jpg"); }

.portfolio-item-2 { background-image: url("/images/golden.jpg"); }

.portfolio-item-3 { background-image: url("/images/golden.jpg"); }

.portfolio-item-4 { background-image: url("/images/golden.jpg"); }

.portfolio-item-5 { background-image: url("/images/golden.jpg"); }

.portfolio-item-6 { background-image: url("/images/golden.jpg"); }

@media all and (max-width: 750px) { .menu-item { background-color: rgba(0, 0, 0, 0.6); display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; width: 100%; line-height: 44px; margin: auto; padding-left: 0; -ms-flex-align: center; align-items: center; } }

@media all and (max-width: 450px) { .skills-container { -ms-grid-columns: auto auto; grid-template-columns: auto auto; }
  .portfolio-container { -ms-grid-columns: auto; grid-template-columns: auto; } }
/*# sourceMappingURL=main.css.map */