@import '../variables/colors';
@import '../variables/typography';
@import '../elements/buttons';
@import '../elements/typo';

* {
    box-sizing: border-box;
    //border: 0.1px solid red;
    margin: 0 auto;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: $quicksand;
    //display: flex;
    background-color: $steel;
    //background-image: url('../images/forest.jpg');
}

#contentBox {
    opacity: 0;
    transition: 1s all linear;
}

.header {
    padding: 10px;
    text-align: center;
    font-size: $font-size-l;
    font-weight: bold;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.content-box {
    border: 4px solid $border-light;
    box-shadow: 0 0 30px $black;
    margin: 0 30px;
    height: 85vh;
    border-radius: 5px;
    font-family: $code;
    color: $white;
    //transition: 0.6s all linear;
}

.content-container {
  background-image: url('/images/chess.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  filter:  brightness(60%) contrast(90%) ;
  //text-align: center;
}