@import "../variables/colors";
@import "../variables/typography";
@import "../elements/buttons";
@import "../elements/typo";

//====================================================================================
// RWD
//====================================================================================

//====================================================================================

// Max 750px

@media all and (max-width: 750px) {
  .menu-item {
    background-color: rgba($black, 0.6);
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 44px;
    margin: auto;
    padding-left: 0;
    align-items: center;
  }
}

//====================================================================================
//Max 500px

// @media all and (max-width: 500px) {
//   .skills-container {
//     grid-template-columns: auto auto;
//   }

//   .portfolio-container {
//     grid-template-columns: auto;
//   }
// }

//====================================================================================

// Max 450px

@media all and (max-width: 450px) {
  .skills-container {
    grid-template-columns: auto auto;
  }

  .portfolio-container {
    grid-template-columns: auto;
  }
}