// Contact section

@import "../variables/colors";
@import "../variables/typography";

// .content-container-start {
//   background-image: url('/images/sand.jpeg');
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 100%;
//   filter:  brightness(60%) contrast(90%) ;
//   //text-align: center;
// }

