// Start section

@import '../variables/colors';
@import '../variables/typography';

// .content-container-start {
//     background-image: url('/images/sand.jpeg');
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 100%;
//     filter:  brightness(60%) contrast(90%) ;
//     //text-align: center;
// }

.text-container {
 // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  font-family: $code;
  position: absolute;
  top: 100px;
  left: 100px;
  text-align: left;
}

#typedText {
  font-size: $font-size-xl;
  //color: $html5;
}

// .header {
//   color: $black;
//   font-weight: 900;
//   padding: 10px;
//   //mix-blend-mode: difference;
// }

// .index-header-main {
//   font-size: $font-size-xl;
// }

// .index-header {
//   font-size: $font-size-l;
// }


