// Navigation section

@import '../variables/colors';
@import '../variables/typography';
@import '../elements/buttons';

#mySidenav {
    transition: 0.7s all linear;
    opacity: 0;
}

.navigation-user-img {
    width: 100%;
    padding: 5px;
    opacity: 0.5;
    vertical-align: middle;
}

.navigation-img-box {
    border: 5px solid $light-steel;
}

.navigation-img-container {
    border-bottom: 1px solid $border-dark;
}

///////////////////////////////////////////////////////////////
.fab,
.fas {
    color: $white;
    transition: 0.3s all linear;
}

.navigation-img-container {
    padding: 15px 5px;
    border-top: 1px solid $border-light;
}

.navigation-user-social {
    display: flex;
    border-bottom: 1px solid $border-dark;
    border-top: 1px solid $border-dark;
    padding-left: 0;
    justify-content: center;
}

.navigation-user-info {
    border-right: 1px solid $border-light;
}

.navigation-social-link,
.close-nav-link {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

.close-nav-icon {
    text-align: center;
    color: $white;
    // height: 30px;
    // widows: 30px;
    //font-size: $font-size-xl;
}

.navigation-social-btn,
.close-nav-btn {
    width: 40px;
    height: 40px;
    background-color: $steel;
    //color: $white;
    font-size: $font-size-s;
    border-bottom: none;
    border-top: none;
    border-left: 1px solid $border-light;
    border-right: 1px solid $border-dark;
    padding-bottom: 0;

    &:hover {
        cursor: pointer;
    }
}

.navigation-social-btn {
    a {
        padding: 7px 5px;
    }
}

.navigation-social-facebook {
    border-left: 1px solid $border-dark;
}

.navigation-social-github {
    border-right: 1px solid $border-light;
}
///////////////////////////////////////////////////////////////

.menu {
    padding: 0;
}

.menu-btn {
    font-size: $font-size-xl;
    color: $lightgrey;
    padding-left: 30px;

    &:hover {
        cursor: pointer;
    }
}

/* The side navigation menu */
.navigation {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: $steel; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    //padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 0 0 20px $black;
    //margin-top: 79px;
}

.menu-item {
    list-style-type: none;
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    border-top: 1px solid $border-light;
    border-bottom: 1px solid $border-dark;
    border-right: 1px solid $border-light;

    a {
        padding: 2px 2px 2px 32px;
        text-decoration: none;
        font-size: $font-size-s;
        color: $lightgrey;
        display: block;
        transition: 0.3s;
        margin: auto;
        text-transform: uppercase;
        font-weight: 700;
    }
}

/* When you mouse over the navigation links, change their color */
.navigation {
    a:hover {
        color: $white;
    }
}

/* Position and style the close button (top right corner) */
// .navigation .closebtn {
//     position: absolute;
//     top: -8px;
//     right: 22px;
//     font-size: 36px;
//     margin-left: 150px;
// }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left 0.5s;
    //padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
// @media screen and (max-height: 450px) {
//     .navigation {
//         padding-top: 15px;
//     }
//     .navigation a {
//         font-size: 18px;
//     }
// }
