// Portfolio section

@import "../variables/colors";
@import "../variables/typography";

// .content-container-portfolio {
//   background-image: url('/images/sand.jpeg');
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 100%;
//   filter:  brightness(60%) contrast(90%) ;
//   //text-align: center;
// }

.portfolio-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
}

.portfolio-item {
  padding: 13vh 10vw;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  transition: 0.3s all linear;
  display: flex;
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 30px $black;
    }
}

.devicons-portfolio {
  font-size: 35px;
}

.portfolio-btn {
  background-color: transparent;
  border: none;
  //width: 20px;
  //height: 20px;
}

.portfolio-link-icon {
  font-size: $font-size-l;
  color: $black;
}


.portfolio-item-1 {
  background-image: url('/images/awax.jpg');
}

.portfolio-item-2 {
  background-image: url('/images/golden.jpg');
}

.portfolio-item-3 {
  background-image: url('/images/golden.jpg');
}

.portfolio-item-4 {
  background-image: url('/images/golden.jpg');
}

.portfolio-item-5 {
  background-image: url('/images/golden.jpg');
}

.portfolio-item-6 {
  background-image: url('/images/golden.jpg');
}