// Skills section

@import '../variables/colors';
@import '../variables/typography';
@import '../utils/devicons';

// .content-box-skills {
//   background-image: url('/images/sand.jpeg');
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 100%;
//   filter:  brightness(60%) contrast(90%) ;
//   //text-align: center;
// }

.skills-container {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 35px 35px;
    height: 100%;
}

.devicons-skills {
    font-size: $font-size-xxxl;
    transition: 0.3s all linear;
    margin: auto;
    border-radius: 5px;
    color: $lightgrey;

    &:hover {
        transform: scale(1.1);
        background-color: rgba($black, 0.6);
    }
}

.html5-skills {
    &:hover {
        color: $html5;
        box-shadow: 0 0 20px $html5;
    }
}

.css3-skills {
    &:hover {
        color: $css3;
        box-shadow: 0 0 20px $css3;
    }
}

.responsive-skills {
    &:hover {
        color: $rwd;
        box-shadow: 0 0 20px $rwd;
    }
}

.javascript-skills {
    &:hover {
        color: $js;
        box-shadow: 0 0 20px $js;
    }
}

.jquery-skills {
    &:hover {
        color: $jquery;
        box-shadow: 0 0 20px $jquery;
    }
}

.sass-skills {
    &:hover {
        color: $sass;
        box-shadow: 0 0 20px $sass;
    }
}

.bootstrap-skills {
    &:hover {
        color: $bootstrap;
        box-shadow: 0 0 20px $bootstrap;
    }
}

.nodejs-skills {
    &:hover {
        color: $nodejs;
        box-shadow: 0 0 20px $nodejs;
    }
}

.react-skills {
    &:hover {
        color: $react;
        box-shadow: 0 0 20px $react;
    }
}

.git-skills {
    &:hover {
        color: $git;
        box-shadow: 0 0 20px $git;
    }
}

.npm-skills {
    &:hover {
        color: $npm;
        box-shadow: 0 0 20px $npm;
    }
}

.mongodb-skills {
    &:hover {
        color: $mongodb;
        box-shadow: 0 0 20px $mongodb;
    }
}

.github-skills {
    &:hover {
        color: $white;
        box-shadow: 0 0 20px $black;
        background-color: rgba($black, 0.6);
    }
}

.ghost-skills {
    &:hover {
        color: $white;
        box-shadow: 0 0 20px $white;
    }
}

.visualstudio-skills {
    &:hover {
        color: $vsc;
        box-shadow: 0 0 20px $vsc;
    }
}
